.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10em;
    padding: 2rem;
    margin-top: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.field {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}